
<nav>
  <div class="border border-black"></div>

  <div class="navbar">
    <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About</a>
    <a routerLink="/gallery" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Gallery</a>
    <a *ngIf="!user" routerLink="/signin" routerLinkActive="active">Sign in/Register</a>
    <a *ngIf="user?.type === 'admin'" routerLink="/orders" routerLinkActive="active">Orders</a>
    <a *ngIf="user?.type === 'admin'" routerLink="/customers" routerLinkActive="active">Customers</a>
    <a *ngIf="user?.type === 'customer'" routerLink="/cart" routerLinkActive="active">Cart</a>
    <a *ngIf="user" class="social" (click)="logout()">Logout</a>

  </div>
</nav>
