<h1 class="text-center mt-4">Nature works!</h1>
<div class="text-center">
  <!-- Form for uploading image and price -->
  <form #form="ngForm" (ngSubmit)="submitChanges()" novalidate>
    <div class="filePick m-2">
      <!-- File Input -->
     <div class="imageInput m-4">
      <label for="fileInput">Upload new image:</label>
      <input
        class="uploadImage"
        type="file"
        id="fileInput"
        required
        #fileInput="ngModel"
        (change)="onFileSelected($event, 'natureGallery')"
        ngModel
        name="fileInput"
      />
      <div *ngIf="fileInput.invalid && fileInput.touched" class="error">
        Please upload an image.
      </div>
     </div>

      <!-- Price Input -->
    <div class="priceInput m-4">
      <label for="priceInput">Price:</label>
      <input
        type="number"
        id="priceInput"
        required
        [(ngModel)]="allChanges.price"
        name="priceInput"
        #priceInput="ngModel"
      />
      <div *ngIf="priceInput.invalid && priceInput.touched" class="error">
        Please enter a price.
      </div>
    </div>
    </div>

    <!-- Submit Button -->
    <button [disabled]="form.invalid" type="submit">Upload new product</button>
  </form>
</div>

<div id="Gallery" class="text-center">
  <!-- Nature Section -->
  <div *ngFor="let item of galleryItems; let i = index" class="gallery_option text-center">
    <div id="pictureID">
      Picture ID: {{ item.pictureID }}
    </div>
    <div class="p-2">
      <img [src]="item.nGalleryImage" alt="Nature Image">
    </div>
    <div class="price">
      <strong>{{ galleryItems[i].price | currency }}</strong>
    </div>
    <div *ngIf="user?.type === 'admin'">
    
    <input type="number" step="0.10" [(ngModel)]="galleryItems[i].price">
    <div class="d-flex flex-row">
      <button (click)="submitPriceChange(item.pictureID, galleryItems[i].price)">Submit</button>
      <button (click)="delete(item.pictureID)">Delete</button>
    </div>
  </div>

  </div>
</div>

