
.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border: 2px solid rgb(11, 11, 11);
}

.dialog-box {
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  color: #333;
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.buttons{
  margin: 0 auto;
}

.buttons {
  padding: 20px;
}

button {
  padding: 10px 20px;
  border: 1px solid #f57506;
  border-radius: 4px;
  cursor: pointer;
}

button {
  background-color: #ed7a21;
  color: white;
  padding: 10px 20px;
  border: 1px solid #f44336;
  border-radius: 4px ;
  cursor: pointer;
}

::ng-deep .mat-mdc-dialog-surface {
  color: #333; /* Dark text */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background-color: #f2c45b;
  border:5px solid #f29f4b; /* Apply background color globally */
}

